.actions {
  white-space: nowrap;
  .action-icon {
    padding: 0.3rem;
    cursor: pointer;
    margin-right: 0.3rem;
    border-radius: 0.2rem;
    &:hover {
      background-color: var(--background-secondary);
      color: var(--color-primary) !important;
    }
  }
}
